/*general css style */
html {
  font-size: 100%; /* This means 16px */
  padding: 0;
  margin: 0;

}


body {  
  font-family: 'Montserrat', sans-serif;
  color: $ccc; 
  // position: relative;  
  // transition: 0.27s;
  // line-height: 1;  
   box-sizing: border-box;
   background: $red;
}

.wrap {
  background-image: linear-gradient(to bottom, #002537, #0e0019);
  width: 100vw;
  height: 100vh;
}

.clear {
  clear: both;
}

.container-fluid {
  
}



* {
  border: 0px solid red;
  outline: 0px solid red!important;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}



@media (min-width:$screen-md-min) {

}