/*general css style */
html {
  font-size: 100%; /* This means 16px */
  padding: 0;
  margin: 0;
}

body {  
  font-family: 'Montserrat', sans-serif;
  color: $ccc;   
  box-sizing: border-box;
  /*background: $red;*/
}

.wrap {
  background-image: linear-gradient(to bottom, #002537, #0e0019);
  width: 100vw;
  height: 100vh;
}

.clear {
  clear: both;
}

img {
  width: 100%;
}

* {
<<<<<<< HEAD
  border: 0px solid red!important;
  outline: 0px solid red!important;
=======
  /*border: 0px solid red;
  outline: 0px solid red!important;*/
>>>>>>> 56ea98b21391affbe290bbec6b44c92210271999
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@media (min-width:$screen-md-min) {

}