/*My custom style*/

.mainNavigation {
    margin: 0;
    padding: 0;

    .navbar {
        position: relative;
        padding: 1.4rem 2.6rem 0;

       /* padding: 0;
        margin: 0;*/

        button {
            /*margin: auto;*/
            margin: 0em;
            z-index: 1;
            position: relative;

            &:before {        
                width: 45px;
                height: 45px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
                background-color: #111111;    
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate(-50%,-50%);            
                display: block;
                content: '';
                z-index: -1;
                border-radius: 50%;
            }
        }       
        

        .navbar-toggler-icon {
            color: $aaa;
        }
    }
}

.profileNavigation {
    margin: 0;
    padding: 0;

    

   /* position: absolute;
    z-index: 2;*/

     @media (min-width:$screen-md-min)  {
         /*position: relative;
         z-index: 0;*/
     }

    .navbar {        
       
        justify-content: flex-end; 
        /*
        float: right;   
        padding: 0;
        margin: 0; 
        */

        padding:0.5rem 3rem;
        
        @media (min-width:$screen-lg-min) {
            /*margin-right: 42px;*/
        }
    
        .menu-item {

            a {
                position: relative;

                &:hover {
                    /*text-decoration: underline;*/
                }                

                img {
                    z-index: 1;
                    position: relative;
                    /*top: 4px;*/

                    &:hover {
                        /*transform: rotate(45deg);*/
                        width: 60%;
                    }
                }

                &:before {        
                    width: 45px;
                    height: 45px;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
                    background-color: #111111;    
                    position: absolute;
                    left: 50%;
                    top:50%;
                    transform: translate(-50%,-50%);            
                    display: block;
                    content: '';
                    z-index: 0;
                    border-radius: 50%;
                }
            }        
        }
    }
}

.logo {
    width: 72px;
    height: 32px;
    object-fit: contain;    
    margin: auto;
    display: block;

  @media (min-width:$screen-lg-min) {
      margin-bottom: 26px;
  }
}

.mainTitle {

    height: 124px;

    h2 {
        margin: auto;
        width: 310px;
        width: 280px;
        height: 88px;
        
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        
        color: $ccc;


        padding-top: 0.6em;
        line-height: 1.39em;

    }
}


.pointer {
    cursor: pointer;
}

/*Typo*/

//$ccc :      #ccc;

.title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $ccc;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Montserrat;  
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $ccc;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size:24px;
}
h4 {
    font-size: 20px;
}
h5,h6 {
    font-size: 16px;
}
